@model Order

<div class="d-flex align-items-center justify-content-between" style="width: 100%;">
    <div class="d-grid gap-2 col-6">
        <a class="btn btn-primary" asp-controller="Admin" asp-action="Index" type="button">Заказы</a>
        <a class="btn btn-primary" asp-controller="Admin" asp-action="Users" type="button">Пользователи</a>
        <a class="btn btn-primary" asp-controller="Admin" asp-action="Roles" type="button">Роли</a>
        <a class="btn btn-primary" asp-controller="Admin" asp-action="Products" type="button">Товары</a>
    </div>
    <div class="ms-3">
        <span class="text" style="font-size: 1.5rem;">Заказы</span>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Сумма</th>
            <th scope="col">Статус</th>
            <th scope="col">Пользователь</th>
            <th scope="col">Дата</th>
            <th scope="col">Время</th>
        </tr>
    </thead>
    <tbody>
        @for(int i = 0; i < Model.CartItems.Count; i++)
        {
        <tr>
            <th scope="row">@(i++)</th>
            <td>@Model.TotalCost</td>
            <td>@("Создан")</td>
            <td>@Model.UserId</td>
            <td>@Model.DeliveryUserInfo.DateDelivery</td>
            <td>@Model.DateTimeCreation</td>
        </tr>
        }
    </tbody>
</table>
