@model List<Product>

<form method ="post">
<div class="row">
    <div class="col-lg-8"></div>
    <div class="col-lg-4">
        <div class="input-group">
            <input type="search" name="query" class="form-control rounded" placeholder="Поиск" aria-label="Search" />
            <button type="submit" asp-controller="Home" asp-action="Search" class="btn btn-outline-primary">Найти</button>
        </div>
    </div>
</div>
</form>

<div class = "container">
    <div class ="row">
        @if (Model != null)
        {
            @foreach (var product in Model)
            {   
                <div class = "col-4 mb-4">
                    <a asp-controller="product" asp-action="index" asp-route-id="@product.Id" class="text-decoration-none text-dark">
                    <div class="card" style="width: 18rem;">
                      <img src="/img/stopPhoto.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p clss = "cart-cost">@product.Cost.ToString("c")</p>
                        <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@product.Id" class="btn btn-primary">Добавить в корзину</a>
                        <a asp-controller="Favorite" asp-action="AddToFavorite" asp-route-id="@product.Id" class="btn btn-primary">Добавить в избранное</a>
                                <a asp-controller="Compare" asp-action="AddItemToCompare" asp-route-id="@product.Id" class="btn btn-primary">Сравнить</a>
                      </div>
                    </div>
                    </a>
                </div>
            }
        }
        else
        {
            <h5>Нет товаров для отображения</h5>
        }
    </div>
</div>
